/* Scss Document */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
body, html {
  height: 100%;
  font-family: "Kumbh Sans", sans-serif;
}

.darkgreen {
  color: #008265;
}

.lightgreen {
  color: #7BC142;
}

.teal {
  color: #07948A;
}

.blue {
  color: #639ED5;
}

.darkblue {
  color: #253570;
}

.mustard {
  color: #E1D12C;
}

.yellow {
  color: #FFDD00;
}

.button {
  font-size: 30px;
  margin-top: 1em;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 1em;
  background: #7BC142;
  transition: 0.2s background;
}
.button:hover {
  color: white;
  text-decoration: none;
  background: #008265;
}

.content {
  margin-top: -100px;
}
.content h1 {
  font-weight: bold;
  font-size: 2.6em;
  padding-bottom: 1.5rem;
}
.content .banner-welcome {
  position: relative;
  transition: 0.2s ease-in-out;
}
.content .banner-welcome img {
  object-fit: cover;
  object-position: center 25%;
  height: 250px;
  transition: 0.2s ease-in-out;
  filter: brightness(95%);
}
.content .banner-welcome p {
  color: #639ED5;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: right;
  padding-right: 2em;
  line-height: 1.1em;
  top: 60px;
  bottom: 0px;
  right: 0px;
  transition: 0.2s ease-in-out;
}
.content .banner-welcome p span {
  color: #253570;
  font-size: 1.7rem;
}
.content .banner-welcome:hover p {
  transform: scale(1.04);
}
.content .banner-welcome:hover img {
  filter: brightness(100%);
}
.content .banner-eoi {
  position: relative;
}
.content .banner-eoi img {
  object-fit: none;
  object-position: 30% 60%;
  height: 250px;
  transition: 0.2s ease-in-out;
  filter: brightness(100%);
}
.content .banner-eoi p {
  color: white;
  font-weight: bold;
  font-size: 1.8em;
  top: 90px;
  bottom: 0px;
  padding-left: 1em;
  line-height: 1.3em;
  transition: 0.2s ease-in-out;
}
.content .banner-eoi p span {
  font-size: 1.3em;
  text-decoration: underline;
}
.content .banner-eoi:hover p {
  transform: scale(1.03);
}
.content .banner-eoi:hover img {
  filter: brightness(95%);
}
.content .banner-member {
  position: relative;
}
.content .banner-member img {
  object-fit: cover;
  object-position: left top;
  height: 250px;
  transition: 0.2s ease-in-out;
  filter: brightness(100%);
}
.content .banner-member p {
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: right;
  padding-right: 1em;
  top: 0px;
  right: 0px;
  text-decoration: underline;
  transition: 0.2s ease-in-out;
}
.content .banner-member:hover img {
  filter: brightness(95%);
}
.content .banner-member:hover p {
  transform: scale(1.03);
}
.content .card {
  background: #008265;
  color: white;
  border: none;
  border-radius: 0px;
}
.content .card a {
  color: white;
  text-decoration: none;
}
.content .card h5 {
  font-weight: bold;
  font-size: 1.5em;
}
.content .card:hover {
  background: #008c6d;
}
.content .conference-name {
  background: #253570;
  color: white;
  font-size: 1.4em;
}
.content .conference-name span {
  font-size: 1.05em;
}
.content .key-dates td {
  font-size: 1.1em;
  font-weight: 400;
}
.content .key-dates .heading {
  background: #7BC142;
  font-size: 1.7em;
}
.content .key-dates .sub-heading {
  background: #a3d47c;
  font-size: 1.2em;
}
.content .key-dates .conference-heading {
  background: #96ce68;
  font-size: 1.5em;
}
.content .key-dates .conference {
  background: #cbe7b5;
  font-size: 1.1em;
}

.footer {
  background: #008265;
  color: white;
}
.footer a {
  color: white;
}
.footer a:hover {
  color: #e6e6e6;
}
.footer h1 {
  font-weight: bold;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}
.footer h3 {
  font-size: 1.5rem;
}
.footer h3 a {
  text-decoration: none;
  font-weight: bold;
}
.footer h3 a:hover {
  text-decoration: underline;
  color: white;
}
.footer p, .footer ul {
  font-size: 1.2em;
}

.footer2 h5 {
  font-size: 1.1em;
  font-weight: bold;
}
.footer2 p {
  font-size: 13px;
}

.logo {
  background-size: cover;
}

h2 {
  color: #7BC142;
  font-size: 3em;
}

h3 {
  font-size: 1.4em;
}

a {
  color: black;
  text-decoration: underline;
}
a:hover {
  color: #008265;
}

.header {
  background: url("./img/header-bg.png");
  background-size: cover;
}
.header .navbar {
  background-color: #008265;
  color: white;
}
.header .navbar a.nav-link {
  padding: 1.2em 0.8em !important;
  color: white !important;
  font-weight: bold;
  text-decoration: none;
}
.header .navbar .dropdown-menu {
  background: #008265;
  border-style: none;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
}
.header .navbar .dropdown-menu .dropdown-item {
  padding: 1em;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.header .navbar .dropdown-menu .dropdown-item:hover {
  background: #008c6d;
}

.hero .hero-image {
  object-fit: cover;
  object-position: center 75%;
  height: 600px;
}

.image {
  background: url("bg1.jpg") center center;
  background-size: cover;
  height: 100vh;
}

.image2 {
  background: url("bg2.jpg") center center;
  background-size: cover;
  height: 100vh;
}

.skip {
  background: #7BC142;
}
.skip a {
  color: black;
  text-decoration: none;
}
.skip a:hover {
  text-decoration: underline;
}
.skip:hover {
  background: #76bb3d;
}

@media (max-width: 768px) {
  .container-fluid {
    height: 50%;
  }

  .button {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .container-fluid {
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
