/* Scss Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

$l_green: #7BC142;
$d_green: #008265;
$teal: #07948A;
$blue: #639ED5;
$d_blue: #253570;
$mustard: #E1D12C;
$yellow: #FFDD00;
$roboto: 'Roboto';

body,html{
	height: 100%;
	font-family: $roboto, sans-serif;
}

.button {
	font-size: 30px; margin-top: 1em; color: white;
	display: inline-block;
	text-decoration: none;
	padding: 0.5em 1em;
	background: $l_green;
	transition: 0.2s background;
	&:hover{
		color: white;
		text-decoration: none;
		background: $d_green;
	}
}

.content {
	margin-top: -100px;
	h1 {
		font-weight: bold; font-size: 2.6em;
		padding-bottom: 1.5rem;
	}
	.card {
		background: $d_green; color: white;
		border: none;
		a {
			color: white;
			&:hover {
				color: darken(white, 10%);
			}
		}
		h5 { font-weight: bold; font-size: 1.5em; }
	}
	.conference-name {
		background: $d_blue;
		color: white;
		font-size: 1.6em;
	}
	.key-dates {
		.heading {
			background: $l_green;
			font-size: 1.7em;
		}
		.sub-heading {
			background: lighten($l_green, 15%);
			font-size: 1.2em;
		}
		.conference-heading {
			background: lighten($l_green, 10%);
			font-size: 1.5em;
		}
		.conference {
			background: lighten($l_green, 30%);
			font-size: 1.1em;
		}
	}
}

.footer {
	background: $d_green;
	height: 500px;
}

.logo{
//	background: url("bg.jpg") center center;
	background-size: cover;
}

h2 {
	color: $l_green;
	font-size: 3em;
}
h3 {
	font-size: 1.4em;
}
a {
	color: black;
	text-decoration: underline;
	&:hover {
		color: $d_green;
	}
}


.header {
	background: url('./img/header-bg.png');
	background-size: cover;
	.navbar {
		background-color: $d_green; color: white;
		a.nav-link {
			padding: 2em 0.8em !important;
			color: white !important;
			font-weight: bold;
			text-decoration: none;
		}
		.dropdown-menu {
			background: $d_green;
			border-style: none; border-radius: 0px;
			padding: 0px;
			margin: 0px;
			.dropdown-item {
				padding: 1.5em;
				color: white;
				font-weight: bold;
				text-decoration: none;
				&:hover {
					background: lighten($d_green, 2%);
				}
			}
		}
	}
}

.hero {
	.hero-image {
		object-fit: cover; object-position: center 60%;
		height: 800px;
	}
}

.image{
	background: url("bg1.jpg") center center;
	background-size: cover;
	height: 100vh;
}
.image2{
	background: url("bg2.jpg") center center;
	background-size: cover;
	height: 100vh;
}



.skip {
	background: $l_green;
	a {
		color: black;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	&:hover {
		background: darken($l_green, 2%);
	}
}


@media (max-width: 768px) {

	.container-fluid {
	height: 50%;
	}

	.button {
		font-size: 20px;
	}

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.container-fluid {
	height: 100%;
	}


}
