/* Scss Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$l_green: #7BC142;
$d_green: #008265;
$teal: #07948A;
$blue: #639ED5;
$d_blue: #253570;
$mustard: #E1D12C;
$yellow: #FFDD00;
$roboto: 'Roboto';
$opensans: 'Open Sans';
$kumbhsans: 'Kumbh Sans';

body,html{
	height: 100%;
	font-family: $kumbhsans, sans-serif;
}

h2 {
	color: $l_green;
	font-size: 3em;
}
h3 {
	font-size: 1.4em;
}
a {
	color: black;
	text-decoration: underline;
	&:hover {
		color: $d_green;
	}
}

.darkgreen { color: $d_green; }
.lightgreen { color: $l_green; }
.teal { color: $teal; }
.blue { color: $blue; }
.darkblue { color: $d_blue; }
.mustard { color: $mustard; }
.yellow { color: $yellow; }

.button {
	font-size: 30px; font-weight: bold;
	color: white;
	display: inline-block;
	text-decoration: none;
	padding: 0.5em 1em;
	background: $d_green;
	transition: 0.2s background;
	&:hover {
		color: white;
		text-decoration: none;
		background: darken($d_green, 5%);
	}
}

.button-small {
	font-size: 24px; font-weight: bold;
	color: white;
	display: inline-block;
	text-decoration: none;
	padding: 0.5em 1em;
	background: $d_green;
	transition: 0.2s background;
	&:hover {
		color: white;
		text-decoration: none;
		background: darken($d_green, 5%);
	}
}

.content {
	margin-top: -100px;
	h1 {
		font-weight: bold; font-size: 3em;
		padding-bottom: 0.5rem;
		margin-bottom: 2.5rem;
		border-bottom: 3px solid $l_green;
	}
	h2 {
		color: $d_green;
		font-weight: bold; font-size: 2.3em;
		padding-bottom: 0.5rem;
		margin-top: 2rem;
	}
	h3 {
		font-weight: bold; font-size: 1.7em;
		margin-top: 2rem;
	}
	h4 {
		font-size: 1.4em;
		margin-top: 2rem;
	}
	p {
		margin-top: 1em;
	}

	.banner-welcome {
		position: relative;
		transition: 0.2s ease-in-out;
		img {
			object-fit: cover; object-position: center 25%;
			height: 250px;
			transition: 0.2s ease-in-out;
			filter: brightness(95%);
		}
		p {
			color: $blue;
			font-weight: bold; font-size: 1.5rem; text-align: right;
			padding-right: 2em;
			line-height: 1.1em;
			top: 60px;
			bottom: 0px;
			right: 0px;
			transition: 0.2s ease-in-out;
			span {
				color: $d_blue;
				font-size: 1.7rem;
			}
		}
		&:hover {
			p {
				transform: scale(1.04);
			}
			img {
				filter: brightness(100%);
			}
		}
	}
	.banner-covid {
		position: relative;
		img {
			object-fit: cover; object-position: center center;
			height: 250px;
			transition: 0.2s ease-in-out;
			filter: brightness(70%);
		}
		p {
			color: white;
			font-weight: bold; font-size: 2.3em;
			top: 110px;
			bottom: 0px;
			padding-left: 1em;
			line-height: 1.3em;
			transition: 0.2s ease-in-out;
			span {
				font-size: 1.3em;
				text-decoration: underline;
			}
		}
		&:hover {
			p {
				transform: scale(1.03);
			}
			img {
				filter: brightness(95%);
			}
		}
	}
	.banner-eoi {
		position: relative;
		img {
			object-fit: none; object-position: 70% 60%;
			height: 250px;
			transition: 0.2s ease-in-out;
			filter: brightness(100%);
		}
		p {
			color: white;
			font-weight: bold; font-size: 2em;
			top: 90px;
			bottom: 0px;
			padding-left: 1em;
			line-height: 1.3em;
			transition: 0.2s ease-in-out;
			span {
				font-size: 1.3em;
				text-decoration: underline;
			}
		}
		&:hover {
			p {
				transform: scale(1.03);
			}
			img {
				filter: brightness(95%);
			}
		}
	}
	.banner-member {
		position: relative;
		img {
			object-fit: cover; object-position: left top;
			height: 250px;
			transition: 0.2s ease-in-out;
			filter: brightness(90%);
		}
		p {
			color: white;
			font-weight: bold; font-size: 2em; text-align: right;
			padding-right: 1.7em;
			top: 100px; right: 0px;
			text-decoration: underline;
			transition: 0.2s ease-in-out;
		}
		&:hover {
			img {
				filter: brightness(100%);
			}
			p {
				transform: scale(1.03);
			}
		}
	}
	.card {
		background: $d_green; color: white;
		border: none;
		border-radius: 0px;
		a {
			color: white;
			text-decoration: none;
		}
		h5 { font-weight: bold; font-size: 1.5em; }
		&:hover {
			background: lighten($d_green, 2%);
		}
	}
	.conference-name {
		background: $d_blue;
		color: white;
		font-size: 1.2em;
		span {
			font-size: 1.05em;
		}
	}
	.dual-image {
		img {
			object-fit: cover;
			width: 100%;
		}
	}
	.key-dates {
		td {
			font-size: 1.1em; font-weight: 400;
		}
		.heading {
			background: $l_green;
			font-size: 1.7em;
		}
		.sub-heading {
			background: lighten($l_green, 15%);
			font-size: 1.2em;
		}
		.conference-heading {
			background: lighten($l_green, 10%);
			font-size: 1.5em;
		}
		.conference {
			background: lighten($l_green, 30%);
			font-size: 1.1em;
		}
	}
	.key-dates-side {
		td {
			font-size: 1em; font-weight: 400;
		}
		.heading {
			background: $l_green;
			font-size: 1.5em;
		}
		.sub-heading {
			background: lighten($l_green, 15%);
			font-size: 1em;
		}
		.conference-heading {
			background: lighten($l_green, 10%);
			font-size: 1.2em;
		}
		.conference {
			border-top: 1px solid lighten($l_green, 20%);
			background: lighten($l_green, 30%);
			font-size: 1em;
		}
	}
	.latest-news {
		.news-item {
			text-decoration: none;
		}
	}
	.modal-content {
	  padding: 2em;
	  display: block;

	  h2 {
	    color: $d_green;;
	    font-size: 1.8em;
	    font-weight: bold;
	    line-height: 1.4;
	    margin-bottom: 10px;
	  }

	  h3 {
	    font-size: 2em;
	    font-weight: bold;
	    color: black;
	  }

	  button {
	    background: none;
	    border: 0;
	    float: right;
	    position: absolute;
	    top: 8px;
	    right: 8px;
	    cursor: pointer;
	    font-weight: bold;
	    font-size: 1em;
	  }

	  img {
	    border-radius: 50%;
	    float: right;
	    max-width: 100%;
	    margin: 0.5em 0 1.5em 1.5em;
	    height: auto;
	  }

	  h2 {
	    margin-top: 0 !important;
	  }

	  h3 {
	    font-size: 1.3em;
	    line-height: 1.4;
	  }

	  p:last-of-type {
	    margin-bottom: 0 !important;
	  }
	}
	.things-to-do {
		div {
			height: 250px;
			img {
				object-fit: cover;
			}
		}
        h4 {
            position: absolute;
            color: white;
            background: rgba(0, 130, 101, 0.9);
            bottom: 0px;
            right: 0px;
            font-size: 1em; font-weight: bold;
            border-style: none;
        }
		a {
			text-decoration: none;
		}
        .over {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: rgba(0, 130, 101, 0.95);
            p {
                font-size: 1em;
                font-weight: bold;
                color: white;
                margin: 0;
            }
            &:hover {
                opacity: 1;
            }
            &:focus {
                opacity: 1;
            }
        }
    }
		.reg-table {
			th {
				background-color: $teal;
				color: white;
				padding: 10px;
				font-size: 1.2em;
				span {
					font-size:0.8em;
					font-weight: normal;
				}
			}
			td {
				border: 1px solid #e0e0e0;
			}
			.highlight {
				font-weight: bold;
				background-color: lighten($mustard, 30%);
			}
		}
}

.footer {
	background: $d_green; color: white;
	a {
		color: white;
		&:hover {
			color: darken(white, 10%);
		}
	}
	h1 {
		font-weight: bold;
		padding-bottom: 1rem;
		padding-top: 1rem;
	}
	h3 {
		font-size: 1.5rem;
		a {
			text-decoration: none;
			font-weight: bold;
			&:hover {
				text-decoration: underline;
				color: white;
			}
		}
	}
	p, ul {
		font-size: 1em;
	}
}

.footer2 {
	h5 {
		font-size: 1.1em; font-weight: bold;
	}
	p {
		font-size: 13px;
	}
}

.logo{
//	background: url("bg.jpg") center center;
	background-size: cover;
}

.header {
	background: url('./img/header-bg.png');
	background-size: cover;
	.navbar {
		background-color: $d_green; color: white;
		a.nav-link {
			padding: 1.2em 0.8em !important;
			color: white !important;
			font-weight: bold;
			text-decoration: none;
		}
		.dropdown-menu {
			background: $d_green;
			border-style: none; border-radius: 0px;
			padding: 0px;
			margin: 0px;
			.dropdown-item {
				padding: 1em;
				color: white;
				font-weight: bold;
				text-decoration: none;
				&:hover {
					background: lighten($d_green, 2%);
				}
			}
		}
	}
}

.hero {
	.carousel {
		z-index: -1;
	}
	.hero-image {
		object-fit: cover;
		height: 600px;
	}
}

.image{
	background: url("bg1.jpg") center center;
	background-size: cover;
	height: 100vh;
}
.image2{
	background: url("bg2.jpg") center center;
	background-size: cover;
	height: 100vh;
}



.skip {
	background: $l_green;
	a {
		color: black;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	&:hover {
		background: darken($l_green, 2%);
	}
}

.alert-primary {
	background: $teal;
	color: white;
}


@media (max-width: 768px) {

	.container-fluid {
	height: 50%;
	}

	.button {
		font-size: 30px;
	}

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.container-fluid {
	height: 100%;
	}


}
