body {
  background: #eee;
}

td {
  font: 16px/24px Arial, "sans-serif";
}

a {
  color: #000;
}

h1,
h2 {
  margin-top: 0;
  color: #16968c;
  letter-spacing: -1px;
  font: bold 32px/42px Arial, "sans-serif";
}

h3 {
  color: #7ac142;
}

h3 a {
  color: #7ac142;
}

.first {
  margin-top: 0;
}

.last {
  margin-bottom: 0;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-3 {
  margin-top: 3em;
}

.info td {
  font: 11px/16px Arial, sans-serif;
}

.block img {
  display: block;
}

.header img {
  display: block;
}

.red {
  color: red;
}

table {
  background: white;
}

.mb1 {
  margin-bottom: 25px;
}

.menu {
  background: #1b75bc;
  color: white;
}

.eoi {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: #be1e2d url("https://icbic2021.org/img/button.jpg");
  color: white;
  border-radius: 3px;
}

.eoi h3 {
  margin-top: 0;
  font-size: 26px;
}

.eoi p {
  font-size: 18px;
  line-height: 26px;
}

.eoi a {
  color: white;
}

.eoi table td {
  background: #262626;
  text-decoration: underline;
  font: 16px/24px Arial, "sans-serif";
  border-radius: 3px;
}

.eoi table td a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin: 0 10px;
}

.footer-wrapper {
  background: none;
}

.tbl-btns .tb1 {
  background: #243470;
}

.tbl-btns .tb2 {
  background: #16968c;
}

.tbl-btns .tb3 {
  background: #f36f36;
}

.tbl-btns .tb4 {
  background: #7ac142;
}

.tbl-btns td {
  width: 50%;
  text-align: center;
}

.tbl-btns a {
  color: white;
  font-weight: bold;
}

table.timetable {
  background: #777;
  color: white;
  text-align: center;
}

table.timetable td.clear {
  background: white;
  border: 0;
}

table.sp-logo {
  width: 100%;
}

.content > td {
  border-bottom: solid 1px #f2f2f2;
}

.content > td .bigger {
  font: bold 19px/30px Arial, sans-serif;
}

.content > td .list li {
  margin-bottom: 15px;
}

.content > td .button {
  background-color: #243470;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}

.content > td .button td {
  font: bold 24px/24px Arial, "sans-serif";
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
}

.content > td .button a {
  color: white;
}

.content > td .dates-table {
  border-collapse: collapse;
  margin-top: 15px;
}

.content > td .dates-table td {
  border: 1px solid #cde5ad;
  padding: 1em;
}

.content > td .dates-table td:first-child {
  font-weight: bold;
}

.content > td .keynote-blue {
  background: #253570;
  color: white;
}

.content > td .keynote-blue h2 {
  color: white;
}

.content > td .keynote-grey {
  background: #e0e0e0;
  color: black;
}

.content > td .keynote-grey h2 {
  color: black;
}

.blue {
  background: #243470;
}

.blue h2, .blue p {
  color: white;
}

.blue h2 {
  text-decoration: underline;
  -webkit-text-decoration-color: #e1d12d;
          text-decoration-color: #e1d12d;
}

.striped tr:nth-child(odd) {
  background: #eef7e7;
}

.striped td {
  padding-left: 15px;
  padding-right: 15px;
}

.striped h3 {
  margin-bottom: 5px;
}

.striped p {
  margin-top: 0;
}

.footer td h2 {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
/*# sourceMappingURL=style.css.map */